<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Home Page | DEMO</title>
</head>

<body>
    {{ if ne .Name "" }}
        <!-- Le "." à la fin de la ligne dessous est pour envoyer la tasklist entière au template "tasklist" -->
        <!-- Sans ça, le sous-template n'aura pas accès aux données. -->
        {{ template "tasklist" . }}
    {{ else }}
        {{ template "greetings" }}
    {{ end }}
</body>
</html>